/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}
body{
    background-color:lavender;
    padding-bottom: 500px;
}
a{
    color: orangered;
    font-family: sans-serif;
    text-decoration: wavy;
    text-decoration-line: underline;
}
.class{
    border-bottom: 1px solid red;
    padding: 2em;
    margin-bottom: 1em;
    
}
